.message-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 80%;
    background-image: url(https://i.pinimg.com/564x/4f/41/b6/4f41b6d62e0d9d212da71ead744cbb67.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .massage-name {
    display: flex;
    flex-direction: row;
    margin-left: 300px;
  }
  .name {
    background-color: rgba(5, 86, 98, 0.564);
    color: white;
    max-width: 100px;
    flex-wrap: wrap;
    padding: 1px 5px 5px 5px;
    border-top-left-radius: 10px;
    margin-right: 10px;
    border-bottom-right-radius: 10px;
  }
  .content {
    background-color: rgba(30, 160, 180, 0.564);
    color: white;
    max-width: 100px;
    flex-wrap: wrap;
    padding: 10px 5px 5px 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
  }
  .btndelete {
    margin-right: 10px;
    border: none;
    background-color: rgb(152, 147, 147);
    color: #fff;
    margin-top: 3px;
    width: 50px;
    height: 50px;
  }