body {
    /* background-image: url(https://gamerwall.pro/uploads/posts/2022-03/thumbs/1647996002_12-gamerwall-pro-p-fon-telegram-krasivie-17.jpg); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgb(11, 218, 246);
    overflow: hidden;
    height: auto;
    margin: 0;
    
  }